version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: gatepass-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gatepass
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    command: >
      --default-authentication-plugin=mysql_native_password
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql

  adminer:
    image: adminer
    restart: always
    ports:
      - '8080:8080'

volumes:
  db_data: